<%= form_for(time_slot) do |f| %>
  <% if time_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_slot.errors.count, "error") %> prohibited this time_slot from being saved:</h2>

      <ul>
      <% time_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chartertype, 'Charter Type' %>
    <%= f.select(:chartertype, [['Full Day', 'Full Day'],['Half Day','Half Day'],['1/4 Day', '1/4 Day']], {}) %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>
  
  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_field :comments %>
  </div>

  <div class="field">
    <%= f.label :closed %>
    <%= f.check_box :closed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
