<p id="notice"><%= notice %></p>

<h1>Charter Availabilities</h1>

<table>
  <thead>
    <tr>
      <th>Charter Type</th>
      <th>Start time</th>
      <th>End time</th>
      <% if user_signed_in? && current_user.admin? %>
        <th>Reservation Count</th>
        <th>Capacity</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @time_slots.length > 0 %>
      <% @time_slots.each do |time_slot| %>
        <tr>
          <td><%= time_slot.chartertype %></td>
          <td><%= time_slot.start_time %></td>
          <td><%= time_slot.end_time %></td>
          <% if user_signed_in? && current_user.admin? %>
            <td><%= time_slot.reservations.length %></td>
            <td><%= time_slot.capacity %></td>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
              <td><%= link_to 'Edit', edit_time_slot_path(time_slot) %></td>
              <td><%= link_to 'Destroy', time_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to "Show Reservations", time_slot_reservations_path(time_slot) %></td>
          <% end %>
          <td><%= link_to 'Show Charter Details', time_slot %></td>
          <td><%= link_to "Book Reservation", new_time_slot_reservation_path(time_slot) %></td>
          
        </tr>
      <% end %>
    <% else %>
      There are no available charter times
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Slot', new_time_slot_path %>
