<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @time_slot.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @time_slot.end_time %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @time_slot.capacity %>
</p>

<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<% end %>
<%= link_to 'Back', time_slots_path %>
