<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Charter Time</th>
      <th>User ID</th>
      <th>Charter type</th>
      <th>Guests</th>
      <th>Capacity</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <% @reservations.each do |reservation| %>
          <tr>
          <td><%= reservation.time_slot.start_time %></td>
          <td><%= reservation.user.id %></td>
          <td><%= reservation.charter_type %></td>
          <td><%= reservation.guests %></td>
          <td><%= @time_slot.capacity %></td>
          <td><%= reservation.comments %></td>
          <td><%= link_to 'Show', time_slot_reservation_path(@time_slot, reservation) %></td>
          <td><%= link_to 'Edit', edit_time_slot_reservation_path(@time_slot, reservation) %></td>
          <td><%= link_to 'Destroy', [@time_slot, reservation] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      
    
  </tbody>
</table>

<br>

<% array = [] %>
<% @time_slot.reservations.each do |reservation| %>
  <% array << reservation.guests %>
<% end %>

<%= array %>

<%= array.sum %>