<p id="notice"><%= notice %></p>

<p>Thanks <%= @reservation.first_name %>! Your reservation is confirmed for <%= @reservation.time_slot.start_time %>.</p>

<p>If you need to change your order, please email us at.. </p>

<p>
  <strong>Time slots:</strong>
  <%= @reservation.time_slot.start_time %>
</p>

<p>
  <strong>Reservation ID:</strong>
  <%= @reservation.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @reservation.phone_number %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @reservation.guests %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @reservation.comments %>
</p>

<%= link_to 'Edit', edit_time_slot_reservation_path(@time_slot, @reservation) %> |
<%= link_to 'Back', time_slot_reservations_path %>
