<p id="notice"><%= notice %></p>

<p>
  <strong>Time slots:</strong>
  <%= @reservation.time_slot.start_time %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @reservation.user.id %>
</p>

<p>
  <strong>Charter type:</strong>
  <%= @reservation.charter_type %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @reservation.guests %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @reservation.comments %>
</p>

<%= link_to 'Edit', edit_time_slot_reservation_path(@time_slot, @reservation) %> |
<%= link_to 'Back', time_slot_reservations_path %>
