!!!
%html
  %head
    %title Reservation System
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stripe_javascript_tag

  %body

    %header.main_header.clearfix
      .container
        #logo
          %p= link_to "Reservation System", root_path
        #buttons
          - if user_signed_in?
            = link_to "Sign Out", destroy_user_session_path, method: :delete
            = link_to "Edit Profile", edit_user_registration_path
          -else
            = link_to "Sign In", new_user_session_path
            = link_to "Sign Up", new_user_registration_path
          = link_to "Home", root_path

    .container
        
      .wrapper
        %p.alert= alert

      .wrapper
        = yield

      .wrapper
        = debug(params) if Rails.env.development?